body {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-top: 3rem;
  border-left: 0.7rem solid gray;
  padding: 0 3rem;
  width: 60%;
}

h1 {
  margin: 0;
}

p {
  color: #9d9d9d;
  margin: 0.5rem 0 2rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

input[type="text"],
textarea {
  margin-bottom: 1.5rem;
  display: block;
  padding: 0.5rem;
  width: 80%;
  background: gray;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: 0;
  color: black;
}

/* Improvements for this to look better regarding alignment, whitespace and color&contrast: */

body {
  background-color: #ff5ebf;
}

section {
  border-left: 0;
}

h1,
p {
  color: black;
}

h1 {
  margin-bottom: 1.7rem;
}

p {
  line-height: 1.6;
}

form {
  color: black;
}

input[type="text"],
textarea {
  background-color: rgb(253, 171, 245);
  border-bottom: 0;
  border: 0.5px solid black;
}

input:last-of-type {
  cursor: pointer;
  background-color: #ca26ff;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: 600;
}

input:last-of-type:hover {
  background-color: rgb(238, 85, 200);
}
